<!DOCTYPE html>
<html>
<head>
  <link href="style.css" media="all" rel="stylesheet" />
  <script src="jquery.js"></script>
  <script src="handlebars.js"></script>
  <script src="script.js"></script>

  <script id="games-template" type="text/x-handlebars-template">
    <ul>
      {{#each games}}
        <li><a href="/games/{{this}}" class="get_game">Раунд {{this}}</a></li>
      {{/each}}
    </ul>
  </script>

  <script id="entry-template" type="text/x-handlebars-template">
    <table class='main-table'>
     {{#each categories}}
        <tr>
          <td class='category'>
            {{name}}
          </td>
          {{#each questions}}
            <td class='question' data-id='{{id}}'>
              {{cost}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  </script>
  <meta charset="utf-8">
</head>
<body>
<div class='big-question'>
  <div class='big-question_inner'></div>
</div>
<div class="main-content"></div>
</body>
</html>
