html {
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  }

body {
  height: 100%;
  padding: 0 0;
  margin: 0 0;
  background: rgb(28,26,56); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(28,26,56,1) 0%, rgba(17,28,155,1) 50%, rgba(33,10,31,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(28,26,56,1)), color-stop(50%,rgba(17,28,155,1)), color-stop(100%,rgba(33,10,31,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(28,26,56,1) 0%,rgba(17,28,155,1) 50%,rgba(33,10,31,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(28,26,56,1) 0%,rgba(17,28,155,1) 50%,rgba(33,10,31,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(28,26,56,1) 0%,rgba(17,28,155,1) 50%,rgba(33,10,31,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(28,26,56,1) 0%,rgba(17,28,155,1) 50%,rgba(33,10,31,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1a38', endColorstr='#210a1f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: white;
  }

a {
  color: white;
}

.main-content {
  width: 100%;
  height: 100%;
}

.main-table {
  width: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;
  border-collapse:collapse;
  }

.main-table tr {
  padding: 0 0;
  margin: 0 0;
  }

.main-table td {
  border: 4px solid white;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
  color: white;
  font: bold 80% Arial,Helvetica,sans-serif;
  font-size: 30px;
  cursor: pointer;
  }

.big-question {
  color: white;
  text-align: center;
  font-size: 50px;
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: none;
  cursor: pointer;
}

.big-question.active {
  display: table;

}

.big-question_inner {
    display: table-cell;
  vertical-align: middle;
}

.question.played {
  text-decoration: line-through;
  color: grey;
  }

.played {
  text-decoration: line-through;
  color: grey;
  }

textarea {
  width: 500px;
  height: 200px;
  }
